*{
    margin: 0px !important;
    padding: 0px !important;
}

#vertical-line
{
    border: 1px solid #eeeeee;
    height: 100px;
}

#search_div
{
    width: 40%;
    border-radius: 8px;
    border: 10px solid #eeeeee;
    padding-left: 10px !important;
    background-color: #f8f8f8;

}

#search_div>input
{
    border: none;
    width: 90%;
    background-color: transparent;
    height: 40px;
}

#categories_section
{
     width: 85%;
     margin: auto !important;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

#card_container
{
    width: 85%;
    margin: auto !important;
    overflow: hidden;/*if there is any element which is going outside card container it should be hidden*/
}

.list
{
    text-wrap: nowrap; /*textwrap: nowrap is a property in which i donot want to put elements inside div in next line i want all of them in same line*/
    /*overflow-x: scroll;*/
}

.list>img
{
    margin-right: 10px !important;
}

.category_section
{
    width: 85%;
    margin: auto !important;
    overflow: hidden;/*if there is any element which is going outside card container it should be hidden*/
    overflow-x: scroll;
}

.my_card
{
    width: 200px;
    display: inline-block !important;
    margin-inline: 20px !important;
}

.my_card>img
{
    width: 90%;
    margin: auto;
}

.product_timer
{
    font-size: 12px;
    font-weight: 900;
    background-color: f8f8f8;
    width: fit-content;
    padding: 4px !important;
    border-radius: 8px;
}

.product_weight
{
    margin-top: 10px !important;
    color: #686868;
    font-size: 12px;
}

.product_name
{
    font-size: small;
    font-weight: bold;
}

footer
{
    width: 85%;
    margin: auto !important;
}

#footer_row1
{
    color: black;
    font-size: 15px;
    padding: 10px !important;
}

#downloads
{
    display: flex;
}

.social_icon
{
      width: 50px;
      height: 50px;
      background-color: black;
      color: white;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
}

#social_links
{
    display: flex;
    gap: 10px;
}

#footer_row2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer_row2>p
{
    color: #666666;
    width: 35%;
    font-size: 14px;
}

#downloads
{
    display: flex;
    align-items: center;
    gap: 10px;
}

#footer_row1
{
    display: flex;
    justify-content: space-between;
}

#table1, #table2 {
    width: 50%;  /* Adjusts the width of each section to fit side by side */
    margin-top: 50px;
}

table {
    width: 90%;  /* Ensures the table takes up the full width of its container */
}

td
{
    color: #6e6e6e;
    padding: 10px !important;
}